Repository input-output-hk/rust-cardano, pull requests merged in 2019-04, with the labels that each got.

#597 network-core: Resolve services by reference
  network-core/src/server.rs
  network-grpc/src/server.rs
  network-grpc/src/service.rs
  network-ntt/src/server.rs
Labels: network-core, network-grpc

#599 network-core: Added error code FailedPrecondition
  network-core/src/error.rs
  network-grpc/src/convert.rs
Labels: network-core

#605 get access to the ledger's static parameter
  chain-impl-mockchain/src/block/mod.rs
  chain-impl-mockchain/src/ledger.rs
Labels: mockchain

#608 Update tower-grpc
  Cargo.toml
  network-grpc/Cargo.toml
  network-grpc/src/server.rs
Labels: blocker, network-grpc

#609 network-grpc: the TcpConnectFuture adapter
  network-grpc/src/peer.rs
Labels: network-grpc

#616 update CircleCI
  .circleci/config.yml
Labels: Testing

#618 More testing interface
  chain-addr/Cargo.toml
  chain-addr/src/lib.rs
  chain-addr/src/testing.rs
  chain-impl-mockchain/Cargo.toml
  chain-impl-mockchain/src/block/header.rs
  chain-impl-mockchain/src/key.rs
  chain-impl-mockchain/src/multiverse.rs
  chain-impl-mockchain/src/stake/role.rs
Labels: Testing, mockchain

#612 Communicate node ID in metadata of subscription requests
  network-core/src/gossip.rs
  network-core/src/server.rs
  network-core/src/server/block.rs
  network-core/src/server/content.rs
  network-core/src/server/gossip.rs
  network-grpc/proto/node.proto
  network-grpc/src/client.rs
  network-grpc/src/client/connect.rs
  network-grpc/src/convert.rs
  network-grpc/src/server.rs
  network-grpc/src/service.rs
Labels: network-core, network-grpc

#623 chain-addr: allow configurable address prefixes
  chain-addr/build.rs
  chain-addr/src/lib.rs
  chain-addr/src/testing.rs
Labels: chain-addr

#621 network-grpc: Make node ID optional for client
  network-grpc/src/client.rs
  network-grpc/src/client/connect.rs
Labels: network-grpc

#622 chain-crypto: vanity fix as crypto naming convention is verbose
  chain-crypto/src/algorithms/ed25519.rs
  chain-crypto/src/algorithms/ed25519_derive.rs
  chain-crypto/src/algorithms/ed25519_extended.rs
  chain-crypto/src/algorithms/fakemmm.rs
  chain-crypto/src/algorithms/vrf/mod.rs
Labels: chain-crypto

#626 get consensus version from the given ledger
  chain-impl-mockchain/src/ledger.rs
Labels: mockchain

#625 network: Change client APIs to receive node ID
  network-core/src/client.rs
  network-core/src/client/block.rs
  network-core/src/client/gossip.rs
  network-grpc/src/client.rs
  network-grpc/src/lib.rs
  network-ntt/src/client.rs
  network-ntt/src/gossip.rs
  network-ntt/src/lib.rs
Labels: network-core, network-grpc

#628 network-grpc: Simplify client futures
  network-grpc/src/client.rs
Labels: network-grpc

#631 Minimize tower dependencies
  network-grpc/Cargo.toml
  network-grpc/src/client/connect.rs
Labels: network-grpc

#640 network-grpc: URI path-and-query part is required
  network-grpc/src/client/connect.rs
Labels: B - Bug, network-grpc

#641 don't modify redeem keys
  cardano/src/redeem.rs
Labels: legacy

#643 network: Add client method get_blocks
  network-core/src/client/block.rs
  network-grpc/proto/node.proto
  network-grpc/src/client.rs
  network-grpc/src/service.rs
  network-ntt/src/client.rs
Labels: network-core, network-grpc

#639 [IOHKCRB-21] Create C functions to process cbor (raw) blocks
  cardano-c/cardano.h
  cardano-c/src/block.rs
  cardano-c/src/lib.rs
  cardano-c/src/transaction.rs
  cardano-c/src/types.rs
  cardano-c/test/test.c
  cardano-c/test/test_block.c
Labels: c-bindings

#648 add block0 in the verification data of the transaction witnesses
  chain-impl-mockchain/src/ledger.rs
  chain-impl-mockchain/src/transaction/witness.rs
Labels: mockchain

#650 [nightly]: prevent compiling test documentation
  cardano/src/paperwallet.rs
Labels: B - Bug

#645 Basic update proposal handling
  chain-impl-mockchain/src/certificate.rs
  chain-impl-mockchain/src/ledger.rs
  chain-impl-mockchain/src/message/mod.rs
  chain-impl-mockchain/src/multiverse.rs
  chain-impl-mockchain/src/setting.rs
Labels: mockchain

#654 add fee verification in the ledger
  chain-impl-mockchain/src/fee.rs
  chain-impl-mockchain/src/ledger.rs
  chain-impl-mockchain/src/txbuilder.rs
Labels: mockchain
