Repository input-output-hk/rust-cardano, pull requests merged in 2019-06, with the labels that each got.

#718 Send + 'static bounds for types returned by the network service implementation
  network-core/src/server.rs
  network-core/src/server/block.rs
  network-core/src/server/content.rs
  network-core/src/server/gossip.rs
  network-grpc/Cargo.toml
  network-ntt/src/server.rs
Labels: network-core, network-ntt

#720 Port network-grpc to tower-hyper
  network-grpc/Cargo.toml
  network-grpc/src/client.rs
  network-grpc/src/client/connect.rs
  network-grpc/src/lib.rs
  network-grpc/src/server.rs
Labels: network-grpc

#714 network: Added method PullHeaders
  network-core/src/client/block.rs
  network-core/src/server/block.rs
  network-grpc/proto/node.proto
  network-grpc/src/client.rs
  network-grpc/src/service.rs
  network-ntt/src/client.rs
  network-ntt/src/server.rs
Labels: network-core, network-grpc, network-ntt

#722 Simplify accounting and stake
  chain-addr/src/lib.rs
  chain-addr/src/testing.rs
  chain-impl-mockchain/src/account.rs
  chain-impl-mockchain/src/accounting/account.rs
  chain-impl-mockchain/src/certificate.rs
  chain-impl-mockchain/src/config.rs
  chain-impl-mockchain/src/key.rs
  chain-impl-mockchain/src/leadership/genesis/mod.rs
  chain-impl-mockchain/src/ledger.rs
  chain-impl-mockchain/src/multisig/ledger.rs
  chain-impl-mockchain/src/setting.rs
  chain-impl-mockchain/src/stake/delegation.rs
  chain-impl-mockchain/src/stake/distribution.rs
  chain-impl-mockchain/src/stake/role.rs
  chain-impl-mockchain/src/transaction/transfer.rs
  imhamt/src/hamt.rs
Labels: mockchain

#725 export the PublicKeyFromStrError so from_str impl can be reused
  chain-crypto/src/lib.rs
Labels: chain-crypto

#726 Fix input output fee check in the ledger
  chain-impl-mockchain/src/ledger.rs
Labels: B - Bug, P - high

#731 Ed25519 BFT key
  chain-impl-mockchain/src/leadership/bft.rs
  chain-impl-mockchain/src/leadership/mod.rs
Labels: chain-crypto, consensus-BFT, mockchain

#730 Address & wallet cleanup
  Cargo.toml
  cardano-legacy-address/Cargo.toml
  cardano-legacy-address/LICENSE-APACHE
  cardano-legacy-address/LICENSE-MIT
  cardano-legacy-address/README.md
  cardano-legacy-address/src/address.rs
  cardano-legacy-address/src/base58.rs
  cardano-legacy-address/src/cbor.rs
  cardano-legacy-address/src/crc32.rs
  cardano-legacy-address/src/lib.rs
  chain-addr/src/lib.rs
  chain-crypto/Cargo.toml
  ed25519-bip32/Cargo.toml
  ed25519-bip32/src/bench.rs
  ed25519-bip32/src/derivation/common.rs
  ed25519-bip32/src/derivation/mod.rs
  ed25519-bip32/src/derivation/v1.rs
  ed25519-bip32/src/derivation/v2.rs
  ed25519-bip32/src/hex.rs
  ed25519-bip32/src/key.rs
  ed25519-bip32/src/lib.rs
  ed25519-bip32/src/securemem.rs
  ed25519-bip32/src/signature.rs
  ed25519-bip32/src/tests.rs
Labels: chain-addr, chain-crypto

#732 gRPC improvements
  network-grpc/Cargo.toml
  network-grpc/src/client.rs
  network-grpc/src/client/connect.rs
  network-grpc/src/client/transport.rs
  network-grpc/src/server.rs
Labels: network-grpc

#736 network-grpc: API to poll client for readiness
  network-core/src/client.rs
  network-core/src/client/block.rs
  network-core/src/client/gossip.rs
  network-core/src/client/p2p.rs
  network-grpc/src/client.rs
  network-ntt/src/client.rs
Labels: network-core, network-grpc

#738 allow transaction without inputs or outputs
  chain-impl-mockchain/src/ledger.rs
  chain-impl-mockchain/src/txbuilder.rs
Labels: mockchain

#739 unify secret key for ed25519 in API
  chain-impl-mockchain/src/certificate.rs
  chain-impl-mockchain/src/key.rs
  chain-impl-mockchain/src/transaction/witness.rs
  chain-impl-mockchain/tests/common/accounts.rs
  chain-impl-mockchain/tests/common/tx_builder.rs
Labels: chain-crypto, mockchain

#740 Old address cleanup
  cardano-legacy-address/src/address.rs
  cardano-legacy-address/src/lib.rs
  chain-impl-mockchain/Cargo.toml
  chain-impl-mockchain/src/legacy.rs
  chain-impl-mockchain/src/transaction/transfer.rs
Labels: X - code-structure, chain-addr, chain-crypto, mockchain
