Repository input-output-hk/rust-cardano, pull requests merged in 2019-05, with the labels that each got.

#662 Replace Codec::from with Codec::new
  chain-addr/src/lib.rs
  chain-core/src/packer.rs
  chain-impl-mockchain/src/block/header.rs
  chain-impl-mockchain/src/block/headerraw.rs
  chain-impl-mockchain/src/certificate.rs
  chain-impl-mockchain/src/config.rs
  chain-impl-mockchain/src/legacy.rs
  chain-impl-mockchain/src/message/mod.rs
  chain-impl-mockchain/src/message/raw.rs
  chain-impl-mockchain/src/setting.rs
  chain-impl-mockchain/src/stake/role.rs
  chain-impl-mockchain/src/transaction/transaction.rs
  chain-impl-mockchain/src/transaction/transfer.rs
  chain-impl-mockchain/src/transaction/witness.rs
  chain-impl-mockchain/src/value.rs
Labels: chain-core

#663 Replace trait Deserialize with trait Readable in network protocols
  chain-core/src/mempack.rs
  chain-core/src/property.rs
  chain-impl-mockchain/src/block/header.rs
  network-core/src/gossip.rs
  network-core/src/server/block.rs
  network-core/src/server/content.rs
  network-grpc/src/client.rs
  network-grpc/src/convert.rs
  network-ntt/src/gossip.rs
Labels: chain-core, network-core, network-grpc, network-ntt

#659 [IOHKCRB-26] Get transaction id from transaction pointer
  cardano-c/cardano.h
  cardano-c/src/transaction.rs
  cardano-c/test/test_block.c
Labels: c-bindings

#667 Deserialize strikes back
  network-core/src/gossip.rs
  network-core/src/server/block.rs
  network-core/src/server/content.rs
  network-grpc/src/client.rs
  network-grpc/src/convert.rs
  network-grpc/src/server.rs
  network-grpc/src/service.rs
Labels: network-core, network-grpc

#671 Update tower-grpc dependency
  network-grpc/Cargo.toml
Labels: network-grpc

#672 network-grpc: Rename serialize_to_vec
  network-grpc/src/client.rs
  network-grpc/src/convert.rs
Labels: network-grpc

#678 generalize account handling
  chain-impl-mockchain/src/account.rs
  chain-impl-mockchain/src/accounting/account.rs
  chain-impl-mockchain/src/accounting/mod.rs
  chain-impl-mockchain/src/lib.rs
Labels: X - code-structure

#679 Add ledger support for Multisig
  chain-addr/src/lib.rs
  chain-addr/src/testing.rs
  chain-impl-mockchain/MULTISIG.md
  chain-impl-mockchain/src/key.rs
  chain-impl-mockchain/src/ledger.rs
  chain-impl-mockchain/src/lib.rs
  chain-impl-mockchain/src/multisig/declaration.rs
  chain-impl-mockchain/src/multisig/index.rs
  chain-impl-mockchain/src/multisig/ledger.rs
  chain-impl-mockchain/src/multisig/mod.rs
  chain-impl-mockchain/src/multisig/witness.rs
  chain-impl-mockchain/src/transaction/transfer.rs
  chain-impl-mockchain/src/transaction/witness.rs
Labels: chain-addr, chain-core, mockchain

#680 small changes in APIs linked to time
  chain-impl-mockchain/src/date.rs
  chain-impl-mockchain/src/leadership/mod.rs
  chain-impl-mockchain/src/ledger.rs
  chain-impl-mockchain/src/multiverse.rs
  chain-time/src/era.rs
Labels: mockchain

#682 network: Redesign block subscription for upload
  network-core/src/client/block.rs
  network-core/src/lib.rs
  network-core/src/server/block.rs
  network-core/src/subscription.rs
  network-grpc/proto/node.proto
  network-grpc/src/client.rs
  network-grpc/src/convert.rs
  network-grpc/src/server.rs
  network-grpc/src/service.rs
  network-ntt/src/client.rs
Labels: network-core, network-grpc

#681 Document ConfigParams
  chain-impl-mockchain/doc/format.md
  chain-impl-mockchain/doc/update.md
  chain-impl-mockchain/src/config.rs
Labels: mockchain

#684 Fix invalid .md table header
  chain-impl-mockchain/doc/format.md
Labels: mockchain

#690 Replace alg
  chain-crypto/src/algorithms/ed25519.rs
  chain-crypto/src/algorithms/ed25519_derive.rs
  chain-crypto/src/algorithms/ed25519_extended.rs
  chain-crypto/src/algorithms/fakemmm.rs
  chain-crypto/src/algorithms/sumed25519/mod.rs
  chain-crypto/src/algorithms/sumed25519/sum.rs
  chain-crypto/src/sign.rs
  chain-impl-mockchain/doc/format.md
  chain-impl-mockchain/src/block/builder.rs
  chain-impl-mockchain/src/block/header.rs
  chain-impl-mockchain/src/certificate.rs
  chain-impl-mockchain/src/key.rs
  chain-impl-mockchain/src/leadership/genesis/mod.rs
  chain-impl-mockchain/src/leadership/mod.rs
Labels: mockchain

#692 network: improve block upload APIs
  network-core/src/server/block.rs
  network-grpc/src/service.rs
Labels: network-core, network-grpc

#696 Sanitize gRPC client connection API
  network-grpc/Cargo.toml
  network-grpc/src/client.rs
  network-grpc/src/client/connect.rs
  network-grpc/src/client/transport.rs
  network-grpc/src/lib.rs
Labels: network-grpc

#700 Add consensus state tracking in the ledger
  chain-impl-mockchain/src/block/header.rs
  chain-impl-mockchain/src/block/mod.rs
  chain-impl-mockchain/src/leadership/genesis/mod.rs
  chain-impl-mockchain/src/leadership/genesis/vrfeval.rs
  chain-impl-mockchain/src/ledger.rs
  chain-impl-mockchain/src/multiverse.rs
  chain-impl-mockchain/src/setting.rs
Labels: chain-crypto, mockchain

#702 Add cryptographic AsymLock mechanism and tweak bench
  chain-crypto/Cargo.toml
  chain-crypto/src/algorithms/sumed25519/sum.rs
  chain-crypto/src/asymlock.rs
  chain-crypto/src/lib.rs
Labels: chain-crypto

#707 Mockchain changes: LedgerParameters in the Leadership and apply_fragment
  chain-impl-mockchain/src/leadership/mod.rs
  chain-impl-mockchain/src/ledger.rs
Labels: mockchain

#709 Leadership Helper and Doc
  chain-impl-mockchain/src/leadership/mod.rs
Labels: mockchain

#708 key evolution cleanup
  chain-crypto/src/algorithms/fakemmm.rs
  chain-crypto/src/algorithms/mod.rs
  chain-crypto/src/algorithms/sumed25519/mod.rs
  chain-crypto/src/evolving.rs
  chain-crypto/src/kes.rs
  chain-crypto/src/lib.rs
  chain-crypto/src/sign.rs
  chain-impl-mockchain/src/block/builder.rs
  chain-impl-mockchain/src/block/header.rs
  chain-impl-mockchain/src/key.rs
Labels: chain-crypto, mockchain

#713 Make pubkey surjective
  chain-addr/src/lib.rs
  chain-addr/src/testing.rs
  chain-crypto/src/algorithms/ed25519.rs
  chain-crypto/src/algorithms/ed25519_derive.rs
  chain-crypto/src/algorithms/ed25519_extended.rs
  chain-crypto/src/algorithms/sumed25519/mod.rs
  chain-crypto/src/algorithms/vrf/mod.rs
  chain-crypto/src/key.rs
  chain-crypto/src/lib.rs
  chain-crypto/src/sign.rs
  chain-crypto/src/testing.rs
  chain-crypto/src/vrf.rs
  chain-impl-mockchain/src/account.rs
  chain-impl-mockchain/src/block/header.rs
  chain-impl-mockchain/src/certificate.rs
  chain-impl-mockchain/src/key.rs
  chain-impl-mockchain/src/leadership/bft.rs
  chain-impl-mockchain/src/leadership/genesis/mod.rs
  chain-impl-mockchain/src/ledger.rs
  chain-impl-mockchain/src/multisig/mod.rs
  chain-impl-mockchain/src/multisig/witness.rs
  chain-impl-mockchain/src/multiverse.rs
  chain-impl-mockchain/src/stake/role.rs
  chain-impl-mockchain/src/transaction/witness.rs
  chain-impl-mockchain/src/update.rs
Labels: chain-crypto
