Repository input-output-hk/rust-cardano, pull requests merged in 2019-01, with the labels that each got.

#359 add chain-core crate
  Cargo.toml
  chain-core/Cargo.toml
  chain-core/README.md
  chain-core/src/lib.rs
  chain-core/src/property.rs
Labels: chain-core

#374 Introduce more tests for the mockchain.
  chain-core/src/property.rs
  chain-impl-mockchain/Cargo.toml
  chain-impl-mockchain/src/environment.rs
  chain-impl-mockchain/src/ledger.rs
  chain-impl-mockchain/src/lib.rs
Labels: chain-core, mockchain

#380 property: Block: make the parent_id() returns by value
  cardano/src/block/block.rs
  chain-core/src/property.rs
  chain-impl-mockchain/src/block.rs
Labels: chain-core

#382 artifacting of test results
  .circleci/config.yml
Labels: Testing

#376 Property traits for blockchain data entities
  cardano/src/block/block.rs
  cardano/src/block/date.rs
  cardano/src/block/types.rs
  cardano/src/lib.rs
  cardano/src/tx.rs
  chain-core/src/property.rs
  chain-impl-mockchain/src/block.rs
  chain-impl-mockchain/src/key.rs
  chain-impl-mockchain/src/transaction.rs
Labels: chain-core

#386 mockchain: Make transaction checker more strict.
  chain-impl-mockchain/src/error.rs
  chain-impl-mockchain/src/key.rs
  chain-impl-mockchain/src/ledger.rs
  chain-impl-mockchain/src/transaction.rs
Labels: B - Bug, mockchain

#384 Introduces SignedBlock for the mockchain.
  chain-impl-mockchain/src/block.rs
  chain-impl-mockchain/src/environment.rs
Labels: mockchain

#393 Fix redeem sk
  cardano/src/redeem.rs
Labels: B - Bug, P - high

#394 property: Add Update and Settings traits
  chain-core/src/property.rs
  chain-impl-mockchain/src/ledger.rs
Labels: chain-core

#395 add hdwallet key generation tests vector for pbkdf based algorithm
  cardano/src/hdwallet.rs
Labels: Testing

#391 Crate network-core
  Cargo.toml
  network-core/Cargo.toml
  network-core/build.rs
  network-core/src/lib.rs
  network-core/src/server.rs
  network-core/src/server/block.rs
  network-core/src/server/transaction.rs
  network-grpc/Cargo.toml
  network-grpc/build.rs
  network-grpc/src/lib.rs
  network-grpc/src/network_core.rs
  network-grpc/src/server.rs
  network-grpc/src/service.rs
  network-proto/codes.proto
  network-proto/node.proto
Labels: network-core

#399 network-grpc: Make the gRPC protocol implementation more generic
  network-grpc/src/server.rs
Labels: network-grpc

#408 WIP: Network protocol client API and its gRPC implementation
  network-core/src/client.rs
  network-core/src/client/block.rs
  network-core/src/lib.rs
  network-core/src/server.rs
  network-grpc/Cargo.toml
  network-grpc/src/client.rs
  network-grpc/src/lib.rs
  network-grpc/src/peer.rs
Labels: network-core, network-grpc

#413 network-core: Make client::Error more informative
  network-core/src/client.rs
  network-core/src/client/error.rs
  network-grpc/src/client.rs
Labels: network-core

#414 network-grpc: don't use chained errors in Display impl for server::Error
  network-grpc/src/server.rs
Labels: network-grpc

#419 remove non necessary builds
  .appveyor.yml
  appveyor.yml
Labels: Testing

#418 Update on the mock chain implementation
  cardano/src/redeem.rs
  chain-addr/Cargo.toml
  chain-addr/src/lib.rs
  chain-core/src/lib.rs
  chain-core/src/packer.rs
  chain-core/src/property.rs
  chain-impl-mockchain/Cargo.toml
  chain-impl-mockchain/src/address.rs
  chain-impl-mockchain/src/block.rs
  chain-impl-mockchain/src/environment.rs
  chain-impl-mockchain/src/key.rs
  chain-impl-mockchain/src/ledger.rs
  chain-impl-mockchain/src/lib.rs
  chain-impl-mockchain/src/transaction.rs
Labels: chain-core, mockchain

#415 network-grpc: Hide implementation details of futures
  network-grpc/src/client.rs
Labels: network-grpc
