Repository input-output-hk/rust-cardano, pull requests merged in 2019-02, with the labels that each got.

#425 add leadership algo for the mockchain
  chain-impl-mockchain/src/block.rs
  chain-impl-mockchain/src/leadership/bft.rs
  chain-impl-mockchain/src/leadership/mod.rs
  chain-impl-mockchain/src/lib.rs
  chain-impl-mockchain/src/update.rs
Labels: mockchain

#434 remove the type parameter of the trait Ledger and of HasTransaction
  cardano/src/block/block.rs
  chain-core/src/property.rs
  chain-impl-mockchain/src/block.rs
  chain-impl-mockchain/src/environment.rs
  chain-impl-mockchain/src/ledger.rs
Labels: chain-core

#436 fix VRF benchs
  ouroboros-praos/Cargo.toml
  ouroboros-praos/src/lib.rs
  ouroboros-praos/src/vrf.rs
Labels: D - easy, P - low

#438 add the SignedBlockSummary
  chain-impl-mockchain/src/block.rs
Labels: mockchain

#439 network-code: Common codes for service errors
  network-core/src/error.rs
  network-core/src/lib.rs
  network-core/src/server/block.rs
  network-core/src/server/transaction.rs
Labels: network-core

#441 add display to hash
  chain-impl-mockchain/src/key.rs
Labels: mockchain

#442 fix invalid start point for loose range iterator
  storage/src/iter/mod.rs
Labels: B - Bug, D - easy, P - high

#449 Fix fee parsing
  chain-storage-sqlite/examples/import.rs
  exe-common/src/genesisdata/data.rs
  exe-common/src/genesisdata/mod.rs
  exe-common/src/genesisdata/parse.rs
  exe-common/src/lib.rs
Labels: X - WIP

#456 Rework the network-ntt client connection as an explicit state machine
  exe-common/src/network/ntt.rs
  network-ntt/src/client.rs
  network-ntt/src/lib.rs
  network-ntt/src/server.rs
  protocol-tokio/src/lib.rs
  protocol-tokio/src/network_transport/event.rs
  protocol-tokio/src/protocol/accepting.rs
  protocol-tokio/src/protocol/chain_bounds.rs
  protocol-tokio/src/protocol/codec/message.rs
  protocol-tokio/src/protocol/codec/node_id.rs
  protocol-tokio/src/protocol/connecting.rs
  protocol-tokio/src/protocol/inbound_stream.rs
  protocol-tokio/src/protocol/mod.rs
  protocol-tokio/src/protocol/outbound_sink.rs
Labels: network-ntt

#464 add a function to create a BFT leadership without expecting leadership
  chain-impl-mockchain/src/leadership/bft.rs
Labels: mockchain

#463 Merge HeaderService into BlockService
  network-core/src/server.rs
  network-core/src/server/block.rs
  network-grpc/src/server.rs
  network-grpc/src/service.rs
  network-ntt/src/server.rs
  protocol-tokio/src/protocol/codec/message.rs
  protocol-tokio/src/protocol/inbound_stream.rs
Labels: network-core, network-grpc, network-ntt

#457 Mockchain delegation certificates
  cardano/src/block/block.rs
  chain-core/src/property.rs
  chain-impl-mockchain/Cargo.toml
  chain-impl-mockchain/src/block.rs
  chain-impl-mockchain/src/certificate.rs
  chain-impl-mockchain/src/date.rs
  chain-impl-mockchain/src/environment.rs
  chain-impl-mockchain/src/key.rs
  chain-impl-mockchain/src/ledger.rs
  chain-impl-mockchain/src/lib.rs
  chain-impl-mockchain/src/transaction.rs
  chain-impl-mockchain/src/update.rs
  shell.nix
Labels: mockchain

#473 network-grpc: Implement subscribe_to_blocks
  network-grpc/src/service.rs
Labels: network-grpc
