Repository input-output-hk/rust-cardano, pull requests merged in 2019-03, with the labels that each got.

#481 network: Add BlockService method subscribe_to_blocks, implement for gRPC
  network-core/src/client/block.rs
  network-grpc/src/client.rs
  network-ntt/src/client.rs
Labels: network-core, network-grpc

#489 ChainStore: Eliminate genesis data
  cardano/src/block/types.rs
  chain-core/src/property.rs
  chain-impl-mockchain/src/key.rs
  chain-impl-mockchain/src/leadership/genesis.rs
  chain-impl-mockchain/src/setting.rs
  chain-storage-sqlite/examples/import.rs
  chain-storage-sqlite/src/lib.rs
  chain-storage/src/memory.rs
  chain-storage/src/store.rs
Labels: mockchain

#492 start separating ed25519-bip32 from the cardano crate.
  Cargo.toml
  ed25519-bip32/Cargo.toml
  ed25519-bip32/src/bench.rs
  ed25519-bip32/src/derivation/common.rs
  ed25519-bip32/src/derivation/mod.rs
  ed25519-bip32/src/derivation/v1.rs
  ed25519-bip32/src/derivation/v2.rs
  ed25519-bip32/src/hdwallet.rs
  ed25519-bip32/src/hex.rs
  ed25519-bip32/src/key.rs
  ed25519-bip32/src/lib.rs
  ed25519-bip32/src/securemem.rs
  ed25519-bip32/src/signature.rs
Labels: D - easy

#505 network-grpc: Dropped an explicit dependency on tower-service
  network-grpc/Cargo.toml
  network-grpc/src/client.rs
  network-grpc/src/peer.rs
Labels: D - easy

#510 Block builder
  chain-impl-mockchain/src/block/builder.rs
  chain-impl-mockchain/src/block/mod.rs
Labels: mockchain

#525 Update dependencies on tower-grpc and prost
  network-core/Cargo.toml
  network-grpc/Cargo.toml
  network-grpc/src/client.rs
  network-grpc/src/lib.rs
Labels: P - high

#523 [IOHKCRB-7] Add test of transaction creation
  cardano-c/cardano.h
  cardano-c/src/transaction.rs
  cardano-c/src/wallet.rs
  cardano-c/test.sh
  cardano-c/test/test.c
  cardano-c/test/test_transaction.c
Labels: c-bindings

#554 network: Disambiguate subscription methods
  network-core/src/client/block.rs
  network-core/src/server/block.rs
  network-core/src/server/transaction.rs
  network-grpc/src/client.rs
  network-grpc/src/service.rs
  network-ntt/src/client.rs
Labels: network-core

#576 network: Renamed transaction service
  network-core/src/server.rs
  network-core/src/server/block.rs
  network-core/src/server/content.rs
  network-core/src/server/transaction.rs
  network-grpc/proto/node.proto
  network-grpc/src/convert.rs
  network-grpc/src/server.rs
  network-grpc/src/service.rs
  network-ntt/src/server.rs
Labels: network-core, network-grpc, network-ntt

#551 Rework the node gossip protocol
  network-core/src/client/block.rs
  network-core/src/client/gossip.rs
  network-core/src/gossip.rs
  network-core/src/server/content.rs
  network-core/src/server/gossip.rs
  network-grpc/proto/node.proto
  network-grpc/src/client.rs
  network-grpc/src/convert.rs
  network-grpc/src/service.rs
Labels: network-core, network-grpc

#575 [IOHKCRB-15] transaction observers
  cardano-c/cardano.h
  cardano-c/src/transaction.rs
  cardano-c/src/types.rs
  cardano-c/test/test_transaction.c
Labels: c-bindings

#582 network-core: Convenience methods and trait impls on Gossip
  network-core/src/gossip.rs
Labels: network-core

#585 Fix initial ents serialisation
  chain-core/src/mempack.rs
  chain-impl-mockchain/src/config.rs
  chain-impl-mockchain/src/message/initial.rs
  chain-impl-mockchain/src/message/mod.rs
Labels: B - Bug
